<h1>Retrieve a report</h1>

<% if @selected_account.nil? %>
  <div class="notice">No account selected!</div>

<% else %>
  See <a href="https://developers.google.com/adwords/api/docs/appendix/reports">
  reporting documentation</a> for reports and fields reference. The report will
  be ran for the last 7 days.<br><br>

  <%= link_to("Show Search Query Report Example", sqr_example_path) %>

  <% if @reports.empty? %>
    <ul><li>No reports available.</ul>
  <% else %>
    <div class="report-form">
    <%= form_tag('/report/get', :method => 'post') do %>
      <div class="report-form-item">
        Report: <select name="type">
        <% @reports.each_pair do |key, report| %>
          <% if report.name == "Search Query Performance" %>
            <option value="<%= key %>" selected="selected"><%= report.name %>
          <% else %>
            <option value="<%= key %>"><%= report.name %>
          <% end %>
        <% end %>
        </select>
      </div>
      <div class="report-form-item">
        <div>Fields: <input name="fields" value="<%= %q{CampaignId, CampaignStatus, AdGroupId, AdGroupStatus, Ctr, Impressions, Clicks, Cost, AverageCpc} %>" size="80"></div>
        <div style="font-size: 0.7em; color: #AAAAAA; margin-top: 0.5em;">Example Fields: CampaignId, CampaignStatus, AdGroupId, AdGroupStatus, Ctr, Impressions, Clicks, Cost, AverageCpc</div>
        <div style="font-size: 0.7em; color: #AAAAAA; margin-top: 0.5em;">Other: Id, Criteria, CriteriaType, FinalUrls</div>
      </div>
      <div class="report-form-item">
        Format: <select name="format">
          <% @formats.each_pair do |key, format| %>
          <option value="<%= key %>"><%= format.name %>
          <% end %>
        </select>
      </div>
      <div class="report-form-item">
        <!--<input type="checkbox" name="zeroes" value="true">-->
        <!--Include zero impressions<br/>-->
        <input type="checkbox" name="raw_enum_values" checked>
        Include raw enum values<br/>
        <input type="checkbox" name="report_header">
        Skip report header<br/>
        <input type="checkbox" name="column_header">
        Skip column header<br/>
        <input type="checkbox" name="report_summary">
        Skip report summary<br/>
      </div>
      <div class="report-form-item">
      <input type="submit" value="Get report">
      </div>
    <% end %>
    </div>
  <% end %>

<% end %>

<div id="local-footer">
  <span class="small-print"><%= link_to("Back to home", home_index_path) %></span>
</div>
